<div class="fullcontent">
  <div class="headings">
    <h1>ConPesar EPS</h1>
    <br>
    <h2>Nos complace que estén aquí. Somos una Entidad Promotora de Salud comprometida con el bienestar y la salud de todos nuestros afiliados. Nuestro objetivo es brindarles un servicio de alta calidad y eficiencia, garantizando su acceso a una atención médica oportuna y de calidad. Aquí encontrarán información sobre nuestros servicios, cómo acceder a ellos y mucho más. ¡Gracias por elegirnos como su EPS de confianza!</h2>
  </div>
  <div class="formbox">
    <h3>Log In</h3>
    <form [formGroup]="formlogin" (ngSubmit)="onSubmit()">
      <label>email</label>
      <input type="email" class="asd" formControlName="email"/>
      <label>Password</label>
      <input type="password" class="asd" formControlName="password"/>
      <button  class="mainbox" (click)="navigateToHome()">Login</button>
      <button class="mainbox" (click)="onClick()">Login with Google</button>
      <p class="message">Not registered? <a (click)="navigateToRegistro()">Create an account</a></p>
    </form>
  </div>
</div>
