<div class="fullcontent">
  <div class="headings">
    <h1>ConPesar EPS</h1>
    <br>
    <h2>Nos complace que estén aquí. Somos una Entidad Promotora de Salud comprometida con el bienestar y la salud de todos nuestros afiliados. Nuestro objetivo es brindarles un servicio de alta calidad y eficiencia, garantizando su acceso a una atención médica oportuna y de calidad. Aquí encontrarán información sobre nuestros servicios, cómo acceder a ellos y mucho más. ¡Gracias por elegirnos como su EPS de confianza!</h2>
  </div>
  <div class="formbox">
    <h3>Log In</h3>
    <form id="form" >
      <label for="">Username</label>
      <input type="text" class="asd"/>
      <label for="">Password</label>
      <input type="password" class="asd"/>
      <button  class="mainbox" (click)="navigateToHome()">Login</button>
      <label for="">New customer?</label>
      <button  class="mainbox" (click)="navigateToRegistro()">Register Now</button>
    </form>
  </div>
</div>
