<div class="container mt-5 mx-auto">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <img src="../../assets/img/logoLogin.png" class="img-fluid" alt="Sample image">
      </div>
    </div>
    <div class="col-md-6 container-custom">
      <h1 class="my-5 display-3 fw-bold ls-tight">
        ConPesar <span class="text-primary">EPS</span>
      </h1>
      <br>
      <form [formGroup]="formlogin" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3">Ingresa con
            <a (click)="onClick()" class="custom-a"><span class="text-primary">Google</span></a>
          </p>
        </div>

        <div class="divider d-flex align-items-center my-4"></div>

        <h3 class="my-3 display-5 ls-tight">
          Credenciales
        </h3>
        <br>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form3Example3" class="form-control form-control-lg"
                 placeholder="Ingresa tu correo electronico"  formControlName="email"/>
          <label class="form-label" for="form3Example3">Correo electronico</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <input type="password" id="form3Example4" class="form-control form-control-lg"
                 placeholder="Enter password" formControlName="password"/>
          <label class="form-label" for="form3Example4">Contrasena</label>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <!-- Checkbox -->
          <div class="form-check mb-0">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
            <label class="form-check-label" for="form2Example3">
              Remember me
            </label>
          </div>
          <a href="#!" class="text-body">Olvide la contrasena</a>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn btn-primary btn-lg">Login</button>
          <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta? <a (click)="navigateToRegistro()"
                                                                            class="link-danger">Registrate</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
