<app-navbar></app-navbar>

<!-- Modifica la sección de servicios -->
<section id="services" class="services section-bg">
  <div class="container-fluid mt-5" data-aos="fade-up">

    <div class="section-title">
      <h2>Area personal</h2>
    </div>
    <br>

    <div class="row">
      <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <a (click)="toggleFormulario(1)">
            <!-- Agrega una clase para la imagen -->
            <img src="./assets/img/papel.png" class="card-img-top small-image" alt="Imagen 1">
          </a>
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a>Agendar cita </a></h4>
          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <a (click)="toggleFormulario(2)">
            <!-- Agrega una clase para la imagen -->
            <img src="./assets/img/inyeccion.png" class="card-img-top small-image" alt="Imagen 1">
          </a>
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a>Agendar Examenes</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <a (click)="toggleFormulario(3)">
            <!-- Agrega una clase para la imagen -->
            <img src="./assets/img/lista-de-deseos.png" class="card-img-top small-image" alt="Imagen 1">
          </a>
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a>Listar mis Agendas</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->

<div *ngIf="mostrarFormulario === 1" class="container mt-5 container-custom">
    <div class="mt-5">
      <h2 class="mb-4">Agendar Cita Médica</h2>
      <form class="row g-3" [formGroup]="formCita" (ngSubmit)="agendarCita()">
        <div class="col-md-6">
          <div class="form-outline mb-4">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name" required formControlName="name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline mb-4">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control"  name="lastName" required formControlName="lastName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline mb-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control"  name="email" required formControlName="email">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline mb-4">
            <label class="form-label">Numero de celular</label>
            <input type="text" class="form-control" name="cel" required formControlName="phone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline mb-4">
            <label class="form-label">No Doc</label>
            <input type="number" class="form-control"  name="numDoc" required formControlName="numDoc">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline mb-4">
            <label class="form-label">Fecha de la Cita</label>
            <input type="date" class="form-control" name="date" required formControlName="dateAppointment">
          </div>
        </div>
        <div class="col-12">
          <div class="form-outline mb-4">
            <label class="form-label">Comentarios adicionales</label>
            <textarea class="form-control" name="comments" rows="3" formControlName="comments"></textarea>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Agendar Cita</button>
        </div>
      </form>
    </div>
</div>



<!-- Furmulario Examenes -->
<div *ngIf="mostrarFormulario === 2" class="container mt-5 container-custom">
    <div class="mt-5">
      <h2 class="mb-4">Agendar Examenes medicos</h2>
      <form class="row g-3" [formGroup]="formCita" (ngSubmit)="agendarExam()">
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="name" required formControlName="name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" name="lastName" required formControlName="lastName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control"name="email" required formControlName="email">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Numero de celular</label>
            <input type="text" class="form-control" name="cel" required formControlName="phone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">No Doc</label>
            <input type="number" class="form-control"  name="numDoc" required formControlName="numDoc">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Fecha de la Cita</label>
            <input type="date" class="form-control" name="date" required formControlName="dateAppointment">
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Seleccionar Comentarios</label>
            <select class="form-select" name="comments" formControlName="comments">
              <option value="Toma de muestas">Toma de muestas</option>
              <option value="Colonoscopia">Colonoscopia</option>
              <option value="Cropologico">Cropologico</option>
            </select>
          </div>

        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Agendar Examne</button>
        </div>
      </form>
    </div>
</div>


<!-- Tabla para mostrar citas -->

<div *ngIf="mostrarFormulario === 3" class="table-responsive table-custom">
  <div>
    <h2>Listado de Citas Médicas</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Número de Celular</th>
        <th>No Doc</th>
        <th>Fecha de la Cita</th>
        <th>Comentarios</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.name }}</td>
        <td>{{ appointment.lastName }}</td>
        <td>{{ appointment.email }}</td>
        <td>{{ appointment.phone }}</td>
        <td>{{ appointment.numDoc }}</td>
        <td>{{ appointment.dateAppointment }}</td>
        <td>{{ appointment.comments }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>








