/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}

/* Agrega estilos para la imagen pequeña */
.small-image {
  max-width: 80px; /* Ajusta el ancho según sea necesario */
  height: auto;
}

/* Agrega estilos para centrar el formulario */
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
}

.container-custom {
  background: linear-gradient(to right, #c3e0ee, #81abd5);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container-custom.h1 {
  text-align: center;
}

/* Estilo para la tabla */
.table {
  width: 100%;
}

/* Estilo para las celdas de acciones */
.table i {
  cursor: pointer;
}

/* Ajuste de estilos según la lógica de los formularios */
.table td,
.table th {
  border: 1px solid #dee2e6;
  padding: 8px;
}


/* Ajuste de márgenes y espaciados para dispositivos más pequeños */
@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .btn-primary {
    padding: 0.5rem 1rem;
  }
}
