<div class="container mt-5 mx-auto">
  <div class="row">
    <div class="col-md-6 container-custom">
      <div>
        <h1 class="my-5 display-3 fw-bold ls-tight">
          ConPesar <span class="text-primary">EPS</span>
        </h1>
        <h3>ConPesar eps te da la bienvenida</h3>
      </div>
      <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
        <div class="divider d-flex align-items-center my-4"></div>
        <h3 class="my-3 display-5 ls-tight">
          Credenciales
        </h3>
        <br>
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text"  class="form-control form-control-lg"
                 placeholder="Ingresa tu Nombre"  formControlName="name"/>
          <label class="form-label" >Nombres</label>
        </div>
        <!-- LastName input -->
        <div class="form-outline mb-4">
          <input type="text"  class="form-control form-control-lg"
                 placeholder="Ingresa tu Apellido"  formControlName="lastName"/>
          <label class="form-label" >Apellidos</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email"  class="form-control form-control-lg"
                 placeholder="Ingresa tu correo electronico"  formControlName="email"/>
          <label class="form-label" >Correo electronico</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <input type="password"  class="form-control form-control-lg"
                 placeholder="Enter password" formControlName="password"/>
          <label class="form-label" >Contrasena</label>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
          <p class="small fw-bold mt-2 pt-1 mb-0">Ya tienes una cuenta? <a (click)="navigateToLogin()" class="link-danger">Ingresar</a></p>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <img src="../../assets/img/logoRegister.png" class="img-fluid" alt="Sample image">
      </div>
    </div>
  </div>
</div>
