.container-custom {
  background: linear-gradient(to right, #c3e0ee, #81abd5);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container-custom.h1 {
  text-align: center;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #343a40;
  font-size: 3rem;
  text-align: center;
}

.text-primary {
  color: #007bff;
}

.custom-a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.divider {
  border-top: 2px solid #007bff;
  margin: 20px 0;
}

h3 {
  color: #343a40;
  font-size: 1.5rem;
}

.form-outline {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  padding: 0.375rem 0.75rem;
}

label {
  color: #6c757d;
}

.form-check-label {
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.link-danger {
  color: #dc3545;
  text-decoration: none;
}

.link-danger:hover {
  text-decoration: underline;
}

/* Ajuste de márgenes y espaciados para dispositivos más pequeños */
@media (max-width: 576px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .btn-primary {
    padding: 0.5rem 1rem;
  }
}


