<div class="fullcontent">
  <div class="formbox">
    <h3>Create an account</h3>
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <label>Username</label>
      <input type="text" class="asd"/>
      <label>Email</label>
      <input type="email" class="asd" formControlName="email"/>
      <label>Password</label>
      <input type="password" class="asd" formControlName="password"/>
      <button  class="mainbox">Register</button>
    </form>
  </div>

  <div class="headings">
    <h1>ConPesar EPS</h1>
    <br>
    <h2>Nos complace que estén aquí. Somos una Entidad Promotora de Salud comprometida con el bienestar y la salud de todos nuestros afiliados. Nuestro objetivo es brindarles un servicio de alta calidad y eficiencia, garantizando su acceso a una atención médica oportuna y de calidad. Aquí encontrarán información sobre nuestros servicios, cómo acceder a ellos y mucho más. ¡Gracias por elegirnos como su EPS de confianza!</h2>
  </div>
</div>
